:root{
  background-color: whitesmoke;
  color: rgb(33, 37, 41);
  white-space: pre-line;
  font-weight: 200;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100svh;
  max-height: 100svh;
}

*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #959595;
  border-radius: 2spx;
}