.main {
  font-weight: 400;
  text-align: center;
  margin: 100px auto;
  max-width: 100vw;
  word-break: auto-phrase;
  background-color: #c0aaa6;
  padding: 10px 0;
}

.main a{
  color: black;
}

.link_card{
  width: 520px;
  max-width: 90vw;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.link_card_wrapper{
  margin: 20px 0;
}

.link_card_wrapper a:visited{
  color: rgb(33, 37, 41);
}

.link_card {
  text-align: left;
}

.link_card * {
  margin: 0;
  padding: 0;
}

.link_card .title {
  display: flex;
  align-items: center;
}

.link_card .title img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
  border-radius: 20%;
}

.link_card h3{
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.link_card > div p{
  font-size: 1rem;
  margin: 0;
  padding: 0;
}